<div class="registro-wrapper">
  <div class="registro-card">
    
    <div class="card-header">
      <h2>Únete a Zen Ride</h2>
      <p>Crea tu cuenta para <span>reservar</span> <span class="highlight"> bicicletas</span></p>
    </div>

    <p class="error-msg" *ngIf="mensajeError">{{ mensajeError }}</p>

    <form (ngSubmit)="onRegistro()" #registroForm="ngForm">
      
      <div class="input-group">
        <label>Nombre de Usuario</label>
        <input 
          type="text" 
          name="username" 
          [(ngModel)]="usuario.username" 
          placeholder="Tu usuario" 
          required>
      </div>

      <div class="input-group">
        <label>Correo Electrónico</label>
        <input 
          type="email" 
          name="email" 
          [(ngModel)]="usuario.email" 
          placeholder="tucorreo@ejemplo.com" 
          required>
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input 
          type="password" 
          name="password" 
          [(ngModel)]="usuario.password" 
          placeholder="Crea una contraseña segura" 
          required>
      </div>

      <button type="submit" class="registro-btn" [disabled]="cargando">
        {{ cargando ? 'CREANDO CUENTA...' : 'CREAR CUENTA' }}
      </button>
    </form>

    <div class="auth-footer">
      <p>¿Ya tienes una cuenta?</p>
      <a routerLink="/login">Inicia sesión aquí</a>
    </div>

  </div>
</div>