<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <span class="logo-icon">🚲</span>
      <span class="logo-text">Zen <span class="highlight">Ride</span></span>
    </div>

    <ul class="nav-links">
      <li><a routerLink="/inicio" routerLinkActive="active">INICIO</a></li>

      <!-- <ng-container *ngIf="authService.isAdmin()">
        
      </ng-container> -->

      <ng-container *ngIf="authService.isMasterAdmin()">
        <li><a routerLink="/clientes" routerLinkActive="active">CLIENTES</a></li>
        <li><a routerLink="/ventas" routerLinkActive="active">VENTAS</a></li>
      <li><a routerLink="/bicicletas" routerLinkActive="active">BICICLETAS</a></li>
      <li><a routerLink="/inventario" routerLinkActive="active">INVENTARIO</a></li>
      <li><a routerLink="/reportes" routerLinkActive="active">REPORTES</a></li>
      <ng-container *ngIf="authService.isVendedor()">
        <li><a routerLink="/clientes" routerLinkActive="active">CLIENTES</a></li>
        <li><a routerLink="/ventas" routerLinkActive="active">VENTAS</a></li>
      </ng-container>
      
      <li>
      <a routerLink="/admin-panel" routerLinkActive="active" class="admin-link">
        ⚙️ PANEL ADMIN
      </a>
      </li>
      </ng-container>
    </ul>

    <div class="nav-actions">
      <button class="icon-btn" routerLink="/login" *ngIf="!authService.isLoggedIn()">
        <mat-icon>person_outline</mat-icon>
      </button>
      <button class="icon-btn" (click)="onLogout()" *ngIf="authService.isLoggedIn()" title="Cerrar sesión">
        <mat-icon>exit_to_app</mat-icon> </button>

      
    </div>
  </div>
</nav>