<div class="container-detalle" *ngIf="bicicleta">
  <div class="header-detalle">
    <button class="btn-regresar" routerLink="/inicio">← Volver al catálogo</button>
  </div>

  <div class="grid-producto">
    <div class="col-imagen">
      <img [src]="'img/bicicletas/' + limpiarNombre(bicicleta.modelo) + '.jpg'" 
           [alt]="bicicleta.modelo"
           [style.filter]="colorFiltro">
    </div>

    <div class="col-info">
      <span class="categoria">{{ bicicleta.tipo | uppercase }}</span>
      <h1>{{ bicicleta.marca }} {{ bicicleta.modelo }}</h1>
      <p class="precio">{{ bicicleta.precioVenta | currency:'COP':'$':'1.0-0' }}</p>
      
      <div class="status">
        <span class="stock-label">Disponibilidad:</span>
        <span class="stock-valor" [class.low]="bicicleta.stockActual < 3">
          {{ bicicleta.stockActual }} unidades disponibles
        </span>
      </div>

      <div class="descripcion-tecnica">
        <h3>Especificaciones</h3>
        <ul>
          <li><strong>Marca:</strong> {{ bicicleta.marca }}</li>
          <li><strong>Tipo:</strong> {{ bicicleta.tipo }}</li>
        </ul>
      </div>

      <div class="selector-colores">
        <h3>Colores disponibles</h3>
        <div class="contenedor-botones">
          <button (click)="colorFiltro = 'none'" class="btn-color original" title="Original"></button>
          <button (click)="colorFiltro = 'hue-rotate(190deg) saturate(2)'" class="btn-color azul" title="Azul"></button>
          <button (click)="colorFiltro = 'hue-rotate(80deg) saturate(1.5) brightness(0.9)'" class="btn-color verde" title="Verde"></button>
          <button (click)="colorFiltro = 'hue-rotate(340deg) saturate(2)'" class="btn-color rojo" title="Rojo"></button>
        </div>
      </div>

      <button class="btn-accion" (click)="contactarVendedor()">CONTACTAR PARA COMPRA</button>
    </div>
  </div>
<div class="tienda-mapa">
  <h3><mat-icon>location_on</mat-icon> Encuéntranos en Tienda</h3>
  <p>{{ contacto.tienda }}</p>
  <div class="map-container">
<iframe 
  src="https://maps.google.com/maps?q=SENA%20Centro%20de%20Comercio%20y%20Turismo,%20Armenia,%20Quindio&hl=es&z=17&output=embed"
  width="100%" 
  height="350" 
  style="border:0; border-radius: 15px;" 
  allowfullscreen="" 
  loading="lazy" 
  referrerpolicy="no-referrer-when-downgrade">
</iframe>
  </div>
</div>
</div>